**/__pycache__/*
*.pyc
pyenv/*
*.swp
**/*.png
**/*.pdf
**/.DS_Store
**/*.parquet
**/*.root
rates/table/out/*
rates/table/cache/**/*
rates/table/lib/*
rates/table/rates_tables/*
**/tmp/*
outputs
menu_tools.egg-info
dist
