attrs
awkward
certifi
cffi
cycler
flake8
fonttools==4.25.0
importlib-metadata
iniconfig
kiwisolver
lz4
matplotlib
mccabe
mplhep
mplhep-data
munkres==1.1.4
numpy
packaging
Pillow==9.2.0
pluggy
progress
py
pyarrow==8.0.0
pycodestyle
pycparser
pyflakes
pyparsing
pytest==7.1.2
python-dateutil
PyYAML==6.0
scipy
six
tomli
tornado
typing_extensions
uhi
uproot
vector
xrootd==5.4.3
xxhash
zipp
zstandard
